@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
 *{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background: rgb(2,0,36);
   
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,14,80,1) 43%, rgba(0,212,255,1) 100%);
}
.container{
    width:50%;
    margin: auto;
    min-height: 100vh;
    padding: 30px;
    font: 100 1rem;
}
header{
     position: fixed;
     width:100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:transparent;
    color: white;
    width: 100%;
    height:60px;
}
nav p{
    margin-left: 30px;
    font-weight: bold;
}
ul{
    list-style: none ;
    width:30%;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
li{
    padding:15px;
    font-weight: bold;
}
li:hover{
    background-color: white;
    color:rgb(50,50,50);
    cursor: pointer;
}
li a{
    color: inherit;
    text-decoration: none;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

input,textarea,button{
    padding:10px;
    border: 1px solid rgba(0,0,0,0.38);
    margin:10px;   
    border-radius: 10px;
}
input{
    height:30px;
    font-size: 18px;
}
textarea{
    height: 50px;
    font-size: 18px;
}
input::placeholder,textarea::placeholder{
    font-size: 18px;
    font-weight: bold;
}
h1{
    text-align: center;
    margin:30px;
    color: white;
    letter-spacing: 4px;
    font-weight: bold;
    margin-top:40px;
}

button{
    background-color: rgb(50,50,50);
    color:white;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    height:50px;
    letter-spacing: 2px;
    font-weight: bold;
}
button:hover{
    background-color: rgb(61,9,156);
}
.task{
    background-color: rgb(224, 223, 223);
    padding:15px;
    border-radius: 20px;
    color:rgba(0,0,0,0.868);
    display: flex;
    align-items: center;
    justify-content: center;
    height:8vh;
    margin: 10px 0;
}
.task >div {
    width:100%;
}
.task span{
    color:rgba(0,0,0,0.8);
}
.task p{
    font-weight: bold;
    padding-bottom: 8px;
}
.delete{
    border-radius: 50%;
    width:60px;
    height:60px;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.delete:hover{
    background-color:crimson;
}